.icon-facebook {
  background: url(/res/img/sprite/socialmedia/facebook.png);
}

.icon-facebook2 {
  background: url(/res/img/sprite/socialmedia/facebook@2x.png);
}

.icon-google {
  background: url(/res/img/sprite/socialmedia/google-plus.png);
}

.icon-google2 {
  background: url(/res/img/sprite/socialmedia/google-plus@2x.png);
}

.icon-instagram {
  background: url(/res/img/sprite/socialmedia/instagram.png);
}

.icon-instagram2 {
  background: url(/res/img/sprite/socialmedia/instagram@2x.png);
}

.icon-line {
  background: url(/res/img/sprite/socialmedia/line.png);
}

.icon-line2 {
  background: url(/res/img/sprite/socialmedia/line@2x.png);
}

.icon-linkedin {
  background: url(/res/img/sprite/socialmedia/linkedin.png);
}

.icon-linkedin2 {
  background: url(/res/img/sprite/socialmedia/linkedin@2x.png);
}

.icon-snapchat {
  background: url(/res/img/sprite/socialmedia/snapchat.png);
}

.icon-snapchat2 {
  background: url(/res/img/sprite/socialmedia/snapchat@2x.png);
}

.icon-telegram {
  background: url(/res/img/sprite/socialmedia/telegram.png);
}

.icon-telegram2 {
  background: url(/res/img/sprite/socialmedia/telegram@2x.png);
}

.icon-twitter {
  background: url(/res/img/sprite/socialmedia/twitter.png);
}

.icon-twitter2 {
  background: url(/res/img/sprite/socialmedia/twitter@2x.png);
}

.icon-whatsapp {
  background: url(/res/img/sprite/socialmedia/whatsapp.png);
}

.icon-whatsapp2 {
  background: url(/res/img/sprite/socialmedia/whatsapp@2x.png);
}

.icon-youtube {
  background: url(/res/img/sprite/socialmedia/youtube.png);
}

.icon-youtube2 {
  background: url(/res/img/sprite/socialmedia/youtube@2x.png);
}
